// font families

$lora: 'Lora', serif;
$roboto: 'Roboto', sans-serif;
$dancingScript: 'Dancing Script', cursive;

// breakpoints vars

$breakpoints: (
    tablet: 500px,
    smallScreen: 768px,
    largeScreen: 1025px,
    extraLargeScreen: 1200px
);

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}