.gallery {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none; //flex
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 4;

    &__btn-close {
        font-size: 2.5rem;
        background-color: transparent;
        border: none;
        color: #fff;
        position: fixed;
        top: 25px;
        right: 25px;
        
        @include breakpoint(tablet) {
            top: 50px;
            right: 50px;
        }
        
        @include breakpoint(largeScreen) {
            cursor: pointer;
        }
    }

    &__container {
        width: 100%;
        overflow-x: hidden;
        
        &__doll {
            display: flex; //flex
            flex-direction: column;
            align-items: center;
            gap: 50px;
            
            .gallery-image-selected-container {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3vw;                
                max-width: 500px;

                @include breakpoint(tablet) {
                    width: 100%;
                    justify-content: space-between;
                }

                @include breakpoint(smallScreen) {
                    max-width: 600px;
                }

                @include breakpoint(largeScreen) {
                    max-width: 700px;
                }

                .btn-left, .btn-right {
                    display: none;
                    height: 250px;
                    min-width: 40px;
                    font-size: 2rem;
                    border: none;
                    background-color: transparent;
                    color: #fff;
                    cursor: pointer;

                    @include breakpoint(tablet) {
                        font-size: 2.5rem;
                        display: block;
                    }
                }

                .btn-disabled {
                    color: rgb(128, 128, 128);
                    pointer-events: none;
                }

                .gallery-image-selected {
                    max-width: 350px;
                    max-height: 350px;

                    @include breakpoint(tablet) {
                        min-width: 350px;
                        min-height: 350px;
                        max-width: 350px;
                        max-height: 350px;
                    }

                    @include breakpoint(smallScreen) {
                        min-width: 450px;
                        min-height: 450px;
                        max-width: 450px;
                        max-height: 450px;
                    }

                    @include breakpoint(largeScreen) {
                        min-width: 500px;
                        min-height: 500px;
                        max-width: 500px;
                        max-height: 500px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }


            }
            
            .gallery-carousel {
                display: flex;
                align-items: center;
                gap: 15px;
                overflow-x: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;
                width: 90%;
                
                @include breakpoint(tablet) {
                    justify-content: center;
                }

                &::-webkit-scrollbar {
                    display: none;
                }
                
                img {
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    border-radius: 5px;

                    @include breakpoint(largeScreen) {
                        width: 70px;
                        height: 70px;
                        border-radius: 7px;
                    }
                }

                .image-selected {
                    border: 2px solid #000;
                }
            }
        }

        &__garland {
            display: none; //flex
            flex-direction: column;
            align-items: center;
            gap: 50px;
            
            .gallery-image-selected-container {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3vw;                
                max-width: 500px;

                @include breakpoint(tablet) {
                    width: 100%;
                    justify-content: space-between;
                }

                @include breakpoint(smallScreen) {
                    max-width: 600px;
                }

                @include breakpoint(largeScreen) {
                    max-width: 700px;
                }

                .btn-left, .btn-right {
                    display: none;
                    height: 250px;
                    min-width: 40px;
                    font-size: 2rem;
                    border: none;
                    background-color: transparent;
                    color: #fff;
                    cursor: pointer;

                    @include breakpoint(tablet) {
                        font-size: 2.5rem;
                        display: block;
                    }
                }

                .btn-disabled {
                    color: rgb(128, 128, 128);
                    pointer-events: none;
                }

                .gallery-image-selected {
                    max-width: 350px;
                    max-height: 350px;

                    @include breakpoint(tablet) {
                        min-width: 350px;
                        min-height: 350px;
                        max-width: 350px;
                        max-height: 350px;
                    }

                    @include breakpoint(smallScreen) {
                        min-width: 450px;
                        min-height: 450px;
                        max-width: 450px;
                        max-height: 450px;
                    }

                    @include breakpoint(largeScreen) {
                        min-width: 500px;
                        min-height: 500px;
                        max-width: 500px;
                        max-height: 500px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }


            }
            
            .gallery-carousel {
                display: flex;
                align-items: center;
                gap: 15px;
                overflow-x: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;
                width: 90%;
                
                @include breakpoint(tablet) {
                    justify-content: center;                    
                }

                &::-webkit-scrollbar {
                    display: none;
                }
                
                img {
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    border-radius: 5px;

                    @include breakpoint(largeScreen) {
                        width: 70px;
                        height: 70px;
                        border-radius: 7px;
                    }
                }

                .image-selected {
                    border: 2px solid #000;
                }
            }
        }

        &__gifts {
            display: none; //flex
            flex-direction: column;
            align-items: center;
            gap: 50px;
            
            .gallery-image-selected-container {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3vw;                
                max-width: 500px;

                @include breakpoint(tablet) {
                    width: 100%;
                    justify-content: space-between;
                }

                @include breakpoint(smallScreen) {
                    max-width: 600px;
                }

                @include breakpoint(largeScreen) {
                    max-width: 700px;
                }

                .btn-left, .btn-right {
                    display: none;
                    height: 250px;
                    min-width: 40px;
                    font-size: 2rem;
                    border: none;
                    background-color: transparent;
                    color: #fff;
                    cursor: pointer;

                    @include breakpoint(tablet) {
                        font-size: 2.5rem;
                        display: block;
                    }
                }

                .btn-disabled {
                    color: rgb(128, 128, 128);
                    pointer-events: none;
                }

                .gallery-image-selected {
                    max-width: 350px;
                    max-height: 350px;

                    @include breakpoint(tablet) {
                        min-width: 350px;
                        min-height: 350px;
                        max-width: 350px;
                        max-height: 350px;
                    }

                    @include breakpoint(smallScreen) {
                        min-width: 450px;
                        min-height: 450px;
                        max-width: 450px;
                        max-height: 450px;
                    }

                    @include breakpoint(largeScreen) {
                        min-width: 500px;
                        min-height: 500px;
                        max-width: 500px;
                        max-height: 500px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }


            }
            
            .gallery-carousel {
                display: flex;
                align-items: center;
                gap: 15px;
                overflow-x: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;
                width: 90%;
                
                @include breakpoint(tablet) {
                    justify-content: center;
                }
                
                &::-webkit-scrollbar {
                    display: none;
                }

                img {
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    border-radius: 5px;

                    @include breakpoint(largeScreen) {
                        width: 70px;
                        height: 70px;
                        border-radius: 7px;
                    }
                }

                .image-selected {
                    border: 2px solid #000;
                }
            }
        }
    }

    &__mobile-tip {
        color: #bdbdbd;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 25px;

        @include breakpoint(tablet) {
            display: none;
        }
    }
}